* {
  padding: 0px;
  margin: 0px;
}
.fundoo-txt {
  letter-spacing: 3px;
  font-weight: bolder;
}
#f {
  color: #ff0000;
  font-size: 24px;
}
#u {
  color: #ff7f00;
  font-size: 15px;
}
#n {
  color: rgb(255, 180, 0);
  font-size: 15px;
}
#d {
  color: #00ff00;
  font-size: 15px;
}
#o {
  color: #0000ff;
  font-size: 15px;
}
#oo {
  color: #9400d3;
  font-size: 15px;
}
