.textarea {
  border: 0px;
  outline: 0px;
}

.noteTitle {
  border: none;
  outline: none;
  width: 500px;
  height: auto;
  padding-left: 18px;
  padding-right: 0px;
  margin-bottom: 30px;
  margin-top: 20px;
  display: flex;
}
.content,
.textArea {
  border: none;
  margin-bottom: 0px;
}
textarea {
  width: 100%;
}
// width of a crad of note
mat-card {
  width: 220px;
  margin-left: 80px;
}
#note-title {
  font-size: 18px;
  font-weight: bold;
}
.pin-unpin-div {
  margin-top: -20px;
  margin-right: -10px;
  opacity: 0.75;
}
#note-description {
  font-size: 12px;
}
#note-remainder {
  font-size: 12px;
  padding-top: 25px;
}
