<mat-card autocomplete="off" role="combobox" flex="column">
  <div>
    <div
      class="pin-unpin-title"
      fxLayout="row"
      fxLayoutAlign="space-between center"
    >
      <mat-card-title class="content" (click)="openDialog(note)">
        <textarea
          class="textArea"
          cdkTextareaAutosize
          placeholder="Title"
          disabled
          id="note-title"
          >{{ note.title }}</textarea
        >
      </mat-card-title>

      <div class="pin-unpin-div">
        <button mat-icon-button>
          <img
            id="pin"
            src="assets/logo/unpin.svg"
            *ngIf="!isPinned; else pinnedNote"
            (click)="isPinned = !isPinned"
          />
        </button>
        <ng-template #pinnedNote>
          <button mat-icon-button>
            <img
              id="pin"
              src="assets/logo/pinned.svg"
              (click)="isPinned = !isPinned"
            />
          </button>
        </ng-template>
      </div>
    </div>
    <mat-card-content class="content" (click)="openDialog(note)">
      <textarea
        class="textArea"
        cdkTextareaAutosize
        placeholder="Description"
        disabled
        style="font-size: 12px;"
        >{{ note.description }}</textarea
      >
    </mat-card-content>
    <!-- This block will be display if remainder is not empty -->

    <div *ngIf="note.remainderDate != null">
      <mat-card-content class="content">
        <textarea
          class="textArea"
          cdkTextareaAutosize
          placeholder="remainder"
          disabled
          style="font-size: 12px;
          padding-top: 25px;"
          >{{ note.remainderDate }}</textarea
        >
        <button mat-icon-button disableRipple style="transform: scale(0.9);">
          <mat-icon style=" padding-bottom: 10px;">highlight_off</mat-icon>
        </button>
      </mat-card-content>
    </div>
  </div>
  <!-- removed all the icons to the separate component so that this can be reused for update note -->
  <div *ngIf="!note.trashed; else trashedNoteContent">
    <app-icon-list></app-icon-list>
  </div>
  <!-- icon list -->
  <ng-template #trashedNoteContent>
    <div class="trashBoxDetail">
      <mat-card-footer>
        <button mat-icon-button>
          <mat-icon matTooltip="Delete forever">delete_forever</mat-icon>
        </button>
        <button mat-icon-button matTooltip="Restore">
          <mat-icon>restore_from_trash</mat-icon>
        </button>
      </mat-card-footer>
    </div>
  </ng-template>
</mat-card>
