<mat-card-footer fxLayout="row" fxLayoutAlign="space-between end">
  <!-- remainder -->
  <button
    mat-icon-button
    matTooltip="Remind me"
    (click)="openTimePicker(note.noteId)"
    type="time"
  >
    <mat-icon>add_alert</mat-icon>
  </button>
  <button mat-icon-button>
    <mat-icon matTooltip="Collaborator">person_add</mat-icon>
  </button>
  <!-- changing color -->
  <button
    mat-icon-button
    matTooltip="Change color"
    [matMenuTriggerFor]="colorlist"
  >
    <mat-icon>palette</mat-icon>
  </button>
  <mat-menu #colorlist="matMenu" [overlapTrigger]="false">
    <ng-template matMenuContent>
      <div
        fxLayout="row"
        fxLayoutGap="10px"
        style="margin-top: 1px"
        *ngFor="let colorsRow of colorsList"
      >
        <div *ngFor="let color of colorsRow">
          <button
            [ngStyle]="{ 'background-color': color.colorCode }"
            (click)="changeColor(color)"
            matTooltip="{{ color.name }}"
            mat-mini-fab
          ></button>
        </div>
      </div>
    </ng-template>
  </mat-menu>

  <button mat-icon-button matTooltip="Add Image">
    <mat-icon>crop_original</mat-icon>
  </button>
  <!-- archive and unarchive -->
  <ng-container *ngIf="!note.archived; else unarchive">
    <button mat-icon-button matTooltip="Archive" (click)="archive()">
      <mat-icon>archive</mat-icon>
    </button>
  </ng-container>
  <ng-template #unarchive>
    <button mat-icon-button matTooltip="Unarchive" (click)="archive()">
      <mat-icon>unarchive</mat-icon>
    </button>
  </ng-template>

  <button mat-icon-button [matMenuTriggerFor]="menu" matTooltip="More">
    <mat-icon>more_vert</mat-icon>
  </button>
  <mat-menu #menu="matMenu">
    <button mat-menu-item (click)="deleteNote()">
      Delete Note
    </button>
    <button mat-menu-item>Add label</button>
  </mat-menu>
</mat-card-footer>
