.forgotPassword {
  padding-top: 5%;
}
.logo {
  padding-bottom: 0px;
}
mat-card-title {
  padding-top: 20px;
  padding-bottom: 15px;
  opacity: 0.9;
}
mat-card-actions {
  margin-bottom: 0px;
  margin-top: -20px;
}
mat-icon {
  opacity: 0.7;
}
button {
  letter-spacing: 1.5px;
}
mat-card {
  box-shadow: 1px 2px 1px 2px;
}
