<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="forgotPassword" fxLayout="column" fxLayoutAlign="center center">
      <mat-card>
        <div class="logo" align="center">
          <app-logo></app-logo>
        </div>
        <form [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()">
          <mat-card-title>Account Recovery</mat-card-title>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Email</mat-label>
              <input
                matInput
                formControlName="emailId"
                required
                style="width: 100%;"
              />
              <mat-icon matSuffix>mail</mat-icon>
              <mat-error>
                <mat-error
                  *ngIf="forgotPasswordForm.get('emailId').hasError('required')"
                  >Email required</mat-error
                >
                <mat-error
                  *ngIf="forgotPasswordForm.get('emailId').hasError('email')"
                  >Enter valid email ex:abc@gmail.com</mat-error
                >
              </mat-error>
            </mat-form-field>
          </mat-card-content>
          <mat-card-actions align="center">
            <button mat-raised-button color="primary">Submit</button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </body>
</html>
