* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}
.main-div-box {
  width: 35%;
  margin-left: 30%;
  margin-right: 30%;
  margin-top: 1.5%;
  border: 0.5px solid rgba(128, 128, 128, 0.5);
  padding: 20px;
  border-radius: 10px;
}
mat-icon {
  opacity: 0.6;
}
.register-btn {
  font-size: 18px;
  color: rgba(255, 255, 255, 0.8);
}
.password-hint {
  margin-bottom: 15px;
  padding-left: 10px;
  letter-spacing: 1px;
  font-weight: normal;
  font-size: 12px;
  color: rgba(128, 128, 128, 1);
}
.fundoo-txt {
  letter-spacing: 3px;
  font-weight: bolder;
  margin-top: -7px;
}
#f {
  color: #ff0000;
}
#u {
  color: #ff7f00;
}
#n {
  color: rgb(255, 180, 0);
}
#d {
  color: #00ff00;
}
#o {
  color: #0000ff;
}
#oo {
  color: #9400d3;
}
.mat-title {
  color: #483c32;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  letter-spacing: 1px;
}
