<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Register</title>
  </head>
  <body>
    <div class="fundoo">
      <span class="f">F</span>
      <span class="u">U</span>
      <span class="n">N</span>
      <span class="d">D</span>
      <span class="o">O</span>
      <span class="oo">O</span>
    </div>
    <div class="registration-container">
      <mat-card-title>
        <div class="mat-title">Registration Form</div>
      </mat-card-title>
    </div>
    <div style="width: 35%; margin: 0 30%;">
      <div
        class="form-content"
        fxLayout="row"
        fxLayoutAlign="space-between center"
      >
        <div>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Firstname</mat-label>
              <input matInput placeholder="Enter firstname" />
            </mat-form-field>
          </mat-card-content>
        </div>
        <div>
          <mat-card-content>
            <mat-form-field appearance="outline">
              <mat-label>Lastname</mat-label>
              <input matInput placeholder="Enter lastname" />
            </mat-form-field>
          </mat-card-content>
        </div>
      </div>
      <div>
        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Email</mat-label>
            <input matInput placeholder="Enter Email" />
          </mat-form-field>
        </mat-card-content>
      </div>
      <div>
        <mat-card-content>
          <mat-form-field appearance="outline" style="width: 100%;">
            <mat-label>Phone number</mat-label>
            <input matInput placeholder="Enter Phone number" />
          </mat-form-field>
        </mat-card-content>
      </div>
    </div>
  </body>
</html>
