* {
  padding: 0px;
  margin: 0px;
}
.fundoo {
  margin-top: 10px;
  margin-left: 250px;
}
// .registration-container {
//   border: 1px solid;
//   margin-top: 10px;
//   margin-left: 250px;
//   margin-right: 250px;
// }
.first-name,
.last-name {
}
