<div>
  <div class="mat-body-2">Edit label</div>
  <div fxLayout="row" fxLayoutAlign="space-between center">
    <div>
      <button
        type="reset"
        mat-icon-button
        matTooltip="Cancel"
        class="icon-button"
      >
        <mat-icon>close</mat-icon>
      </button>
    </div>
    <div>
      <mat-form-field appearance="fill" autocomplete="off" color="white">
        <!-- <mat-label>Create new label</mat-label> -->
        <input
          matInput
          id="labelName"
          [(ngModel)]="newLabel.labelName"
          placeholder="Create new label"
        />
      </mat-form-field>
    </div>
    <div>
      <button mat-icon-button matTooltip="Create label" class="icon-button">
        <mat-icon>check</mat-icon>
      </button>
    </div>
  </div>
  <div
    *ngFor="let label of labelsList"
    fxLayout="row"
    fxLayoutAlign="space-between center"
  >
    <div>
      <button mat-icon-button matTooltip="Delete label" class="icon-button">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
    <div style="justify-content: start;">{{ label.labelName }}</div>

    <div>
      <button mat-icon-button matTooltip="Rename label" class="icon-button">
        <mat-icon>edit</mat-icon>
      </button>
    </div>
  </div>
  <mat-divider></mat-divider>
  <div align="end" style="margin-top: 5px;">
    <button mat-button>Done</button>
  </div>
</div>
