<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>update-password</title>
  </head>
  <body>
    <div class="updatePassword" fxLayout="column" fxLayoutAlign="center center">
      <mat-card>
        <div class="logo" align="center">
          <app-logo></app-logo>
        </div>
        <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()">
          <mat-card-title>Update Password</mat-card-title>
          <mat-card-content>
            <ngx-spinner
              *ngIf="showSpinner"
              bdColor="rgba(51,51,51,0.8)"
              size="medium"
              color="#fff"
              type="ball-scale-multiple"
            >
              <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            <div
              class="password"
              fxLayout="column"
              fxLayoutAlign="space-around center"
            >
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  required
                  formControlName="password"
                  style="width: 100%;"
                  [type]="hide ? 'text' : 'password'"
                />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{ hide ? "visibility" : "visibility_off" }}
                </mat-icon>
                <mat-error>
                  <mat-error
                    *ngIf="
                      resetPasswordForm.get('password').hasError('required')
                    "
                    >please provide a strong password</mat-error
                  >
                  <mat-error
                    *ngIf="
                      resetPasswordForm.controls['password'].hasError(
                        'minlength'
                      )
                    "
                    >password should be greater than 3 character
                  </mat-error>
                  <mat-error
                    *ngIf="
                      resetPasswordForm.controls['password'].hasError(
                        'maxlength'
                      )
                    "
                  >
                    password should not exceed 10 character
                  </mat-error>
                </mat-error>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm</mat-label>
                <input
                  matInput
                  required
                  style="width: 100%;"
                  type="password"
                  formControlName="confirmPassword"
                />
                <mat-icon matSuffix>lock</mat-icon>
                <mat-error
                  *ngIf="
                    resetPasswordInfo.confirmPassword.touched &&
                    resetPasswordInfo.confirmPassword.errors
                  "
                >
                  <mat-error
                    *ngIf="resetPasswordInfo.confirmPassword.errors.required"
                  >
                    Please Re-Enter password</mat-error
                  >
                  <mat-error
                    *ngIf="
                      !resetPasswordInfo.confirmPassword.errors.required &&
                      resetPasswordInfo.confirmPassword.errors
                    "
                  >
                    Password Must be same</mat-error
                  >
                </mat-error>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions align="center">
            <button
              mat-raised-button
              color="primary"
              [disabled]="!resetPasswordForm.valid"
            >
              Submit
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </body>
</html>
