<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>update-password</title>
  </head>
  <body>
    <div class="updatePassword" fxLayout="column" fxLayoutAlign="center center">
      <mat-card>
        <div class="logo" align="center">
          <app-logo></app-logo>
        </div>
        <form>
          <mat-card-title>Update Password</mat-card-title>
          <mat-card-content>
            <ngx-spinner
              *ngIf="showSpinner"
              bdColor="rgba(51,51,51,0.8)"
              size="medium"
              color="#fff"
              type="ball-scale-multiple"
            >
              <p style="font-size: 20px; color: white">Loading...</p>
            </ngx-spinner>
            <div
              class="password"
              fxLayout="column"
              fxLayoutAlign="space-around center"
            >
              <mat-form-field appearance="outline">
                <mat-label>Password</mat-label>
                <input
                  matInput
                  required
                  style="width: 100%;"
                  [type]="hide ? 'text' : 'password'"
                />
                <mat-icon matSuffix (click)="hide = !hide">
                  {{ hide ? "visibility" : "visibility_off" }}
                </mat-icon>
              </mat-form-field>
              <mat-form-field appearance="outline">
                <mat-label>Confirm</mat-label>
                <input matInput required style="width: 100%;" type="password" />
                <mat-icon matSuffix>lock</mat-icon>
              </mat-form-field>
            </div>
          </mat-card-content>
          <mat-card-actions align="center">
            <button mat-raised-button color="primary">
              Submit
            </button>
          </mat-card-actions>
        </form>
      </mat-card>
    </div>
  </body>
</html>
